.card {
    display: flex;
    background: #fff;
    border-radius: 2px;
    height: 25em;
    margin: 1rem;
    width: 25em;
    box-shadow: 0 3px 6px rgb(19, 92, 141), 0 3px 6px #999;
    text-align: left;
  }
  
  .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }

  .card > .img-container > img {
    position: relative;
    width: 100%;
  }
  
  .card > .content {
    padding-top: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  

  