body {
/*     font-family: 'Josefin Sans', sans-serif; 
 */    
 padding-bottom: 20px;
    background-image: url("./photos/Asset_130.png");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;  
    height: 100%;
    width: 100%;
    overflow: visible; 
    margin: 0%;
    vertical-align:bottom;
    background-color:darkblue;
}

