/* Template for all pages */

body {    
    font-family: 'Josefin Sans', sans-serif; 
    padding-bottom: 20px;
   /*  background-image: url("./photos/Asset\ 130.png");  */
    background-image: url("./photos/luca-bravo-g_LG9LGyTk8-unsplash.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;  
    height: 100%;
    width: 100%;
    overflow: visible; 
    margin: 0%;
    vertical-align:bottom;
    background-color:black;
   color: #07EFB2;
  }



#header {
   color:rgba(8, 170, 245, 1);
/*   color: #06EFB1; */
  font-family: 'Josefin Sans', sans-serif;
/*   font-family: neuatra;*/
}

.headerImg{ 
  width: 10%;
  height: 10%;
}

.col {
  align-items: center;
  justify-content: center;

}

a:hover {
  cursor: url("../src/photos/cursor.png");
}

/* .navbar {
  margin-bottom: 1em;
} */

/* .backgroundimg {
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;  
  height: 100vh;
  width: 100wh;
 overflow: visible; 
  margin: 0%;
  vertical-align:bottom;
} */

.wrapper {
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.container {
  display: flex;
  flex-wrap:inherit;
  gap: 1rem;
  border: 20px black;
/*   background-color: rgba(8, 170, 245, 0.7); */
  background-color: #181B48;
  color: #07EFB2;
  padding: 20px 30px;
  align-self: center;
  padding-top: .5rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  box-shadow: 0 8px 32px 0 rgba(45, 55, 202, 0.37);
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  align-items: center;
  justify-content: center;
  /* background: rgba( 5, 156, 217, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11.0px );
-webkit-backdrop-filter: blur( 11.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */
} 

#bottom {
  margin-left: auto;
   margin-right: auto;
   position: inherit;
 }
 
 #footer {
   color:rgba(8, 170, 245, 1);
   font-family: 'Josefin Sans', sans-serif;
 }

/* About me */

#about {
  text-align: center;
  padding-top: 2em;
  padding-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.headshot {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
   /*  display: flex;
  justify-content: center;
  align-items: center; */
  position: inherit;
}

.headline {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  color: #b88649;
  text-shadow: rgb(1, 14, 20, 1);
}

.toolbox {
  text-align: center;
  align-content: center;
  display: inline-flexbox;
  flex-wrap: wrap;
}

img {
  padding: 2px;
}

/* Portfolio  */

h2, h6 {
  text-align: center;
}

.extURL {
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  color: darkblue;
}

 #portfolio-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
  height: auto;
} 

.portImg:hover {
  transform: scale(1.1);
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-duration: 1s;
}

.personalLinks {
  text-align: center;
  position: inherit;
}

.tech {
  color: #181818; 
}


/* .card:hover {
  transform: scale(1.1) translateZ(0px);
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
 */

/* Contact  */


.contactForm {
  display: flex;
  padding: 10px;
  justify-self: center;
  align-items: center;

}

.form {
  margin: 10px;
}

small {
  color: #00A376;
}


/* right-corner easter egg*/

.moonsun {
  text-align: right;
  color:#06f0f0;
}


  
 a {
    color: black;
  }  

  .social {
    color: rgba(8, 170, 245, 0.596);
  }

  .social:hover {
    color: rgb(1, 173, 253);
  }

.backgroundimg {
  background-size: cover;
  overflow: hidden;
}


